/*Colocando estilos a las variables*/
.black {
  background-color: black;
  color: white;
}
.ash {
  background-color: #EEE;
  color: black;
}
.component2{
  background-color: #555;
  color: red;
  padding: 20px;
}

/*estilo boton*/
.btn {
  padding: 20px;
  color: white;
  background-color: brown;
  display: block;
  margin: 3px;
}


